:root {
    --myWhite: #ffffff;
    --myBlue: #0f296d;
    --myGray: #cccccc;
    --myBlack: #000000;
    --fontGray: #999999;
    --fontDarkGray: #393D54;
    --fontLightGray: #BFBFBF;
    --bgColor: #f3f5fb;
    --myDarkPink: #F1554C;
    --myLightPink: #FFA5A0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-style: normal;
}

body {
    background-color: var(--bgColor);
}

.WholeContainer {
    display: flex;
    margin: 16px 0 16px 16px;
}

.headerBodyContainer {
    display: flex;
    flex-direction: column;
    // margin-left: auto;
    // margin-right: auto;
    margin-right: 33.6px;
    margin-left: 33.6px;
}

nav {
    width: 77.68vw;
    display: flex;
    flex-direction: column;
    padding: 0.3rem 33.6px;
    background-color: white;
    // align-items: center;
    // justify-content: center;
    font-size: 1.05em;
    font-weight: 700;
    line-height: 1.575em;
    line-height: 100%;
    box-shadow: 0px 3.36px 33.6px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 20.16px 20.16px;
    color: var(--myBlue);
    justify-content: center;
    align-items: center;

    .navSearchBar {
        position: relative;

        input[type="search"] {
            padding: 0.5rem 0 0.5rem 2rem;
            background-size: 1rem;
            margin: 0.5rem 0;
            border: 0.84px solid rgba(204, 204, 204, 0.74);
            box-sizing: border-box;
            border-radius: 8.4px;
        }

        img {
            width: 12.6px;
            height: 12.6px;
            position: absolute;
            top: 40%;
            left: 5%;
        }
    }

    .navIcons {
        // align-items: center;
        // justify-content: center;
        display: flex;
    }
}

aside {
    display: flex;
    flex-direction: column;
    width: 17%;
    border-radius: 20px 0 0 20px;
    background-color: var(--myBlue);
    min-height: 121.82346368715083vh;
    font-weight: 600;
    font-size: 15.12px;
    line-height: 23px;

    ul {
        list-style: none;
        color: white;
        background-color: var(--myBlue);
        border-radius: 31.08px 0 0 31.08px;

        li {
            display: flex;
            // align-items: center;
            padding: 0.5rem 0;
            margin-left: 1rem;
            position: relative;
            padding: 1rem 0;

            b:nth-child(1) {
                position: absolute;
                top: -20px;
                height: 20px;
                width: 100%;
                background-color: var(--bgColor);
            }

            b:nth-child(1)::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-bottom-right-radius: 31.08px;
                background-color: var(--myBlue);
            }

            b:nth-child(2) {
                position: absolute;
                bottom: -20px;
                height: 20px;
                width: 100%;
                background-color: var(--bgColor);
            }

            b:nth-child(2)::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-top-right-radius: 31.08px;
                background-color: var(--myBlue);
            }

            img {
                width: 20.16px;
                height: 20.16px;
                margin-left: 59px;
            }
        }

        .logos {
            display: flex;
            margin-right: 18px;

            .logo {
                // margin-left: auto;
                // margin-right: 0;
            }

            .xfitKids {
                width: 104.16px;
                height: 17.37px;
                // margin-right: auto;
                margin-left: 0;
            }
        }

        li:first-child {
            align-items: flex-end;
        }

        li:first-child img {
            width: 42.84px;
            height: 42.84px;
        }

        li p {
            display: none;
        }

        li:first-child {
            padding-bottom: 2rem;
            border-radius: 0 0 20px 0;
        }

        .activeAside {
            background-color: var(--bgColor);
            color: black;
            border-radius: 100px 0 0 100px;
        }
    }

    .activeAside {
        color: var(--myBlue);
        color: red;
    }

    .excerciseCard {
        flex-direction: column;
        text-align: center;
        background-color: white;
        margin: auto auto 2rem auto;
        border-radius: 20px;
        padding: 1rem;
        width: 70%;
        height: 30vh;
        display: none;
    }

    .excerciseCard i {
        margin-left: auto;
    }

    .excerciseCard img {
        width: 50%;
        height: 50%;
        margin: auto auto;
    }
}

.counter {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin: 33.6px 0;

    .counterCard {
        display: flex;
        position: relative;
        background: var(--myWhite);
        text-align: center;
        box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
        border-radius: 25.2px;
        width: 28vw;
        height: 14vh;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        // justify-content: center;

        .counterIcon {
            // position: absolute;
            margin-left: auto;
            margin-top: auto;
            // margin-bottom: auto;
            // align-items: center;
            // justify-content: center;
            // background-color: springgreen;
            // max-height: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .counterDivider {
            margin: auto;
        }

        .counterText {
            margin-right: auto;
            display: flex;
            flex-direction: column;
        }

        .counterText p:nth-child(1) {
            color: var(--myBlack);
            font-weight: 800;
            font-size: 2em;
            margin-bottom: 0;
            margin-top: auto;
        }

        .counterText p:nth-child(2) {
            color: var(--fontGray);
            font-weight: 600;
            font-size: 0.875em;
            margin-top: 0;
            margin-bottom: auto;
        }
    }
}

.statusAndPerforamnce {
    display: flex;
    flex-direction: column;





    .batchPerformance {
        display: flex;
        flex-direction: column;
        text-align: center;
        // align-items: center;
        // justify-content: center;
        padding: 37.8px 33.6px 38.64px 33.6px;
        background: var(--myWhite);
        box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
        border-radius: 25.2px;

        .performanceTextSec {
            display: flex;

            h4 {
                color: var(--fontDarkGray);
                font-weight: 600;
                font-size: 16.8px;
                line-height: 25px;
                margin-top: auto;
                margin-bottom: auto;
            }

            p {
                color: var(--fontGray);
                font-weight: 500;
                font-size: 13.44px;
                line-height: 20px;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: auto;
                // display: flex;
                // align-items: center;
                // justify-content: center;
            }
        }

        .performanceGraph {
            display: flex;

            .linearGraphText {
                display: flex;
                flex-direction: column;

                .sideText {
                    margin-top: auto;
                    display: flex;
                    align-items: flex-start;

                    section p:first-child {
                        font-weight: 500;
                        font-size: 15.12px;
                        line-height: 23px;
                        color: var(--fontDarkGray);
                    }

                    section p:nth-child(2) {
                        font-weight: 500;
                        font-size: 11.76px;
                        line-height: 18px;
                        color: var(--fontLightGray);
                    }

                    img {
                        margin-right: 6.72px;
                    }
                }

                section p:first-child {
                    // background-color: rosybrown;
                    font-weight: 500;
                    font-size: 15.12px;
                    line-height: 23px;
                    // margin-bottom: 16.8px;
                }

                section p:nth-child(2) {
                    // background-color: seagreen;
                    font-weight: 500;
                    font-size: 11.76px;
                    line-height: 18px;
                    // margin-bottom: auto;
                }
            }

            .linearGraph {
                margin-left: auto;
            }
        }
    }
}

@media (max-width: 1200px) {

    .counterCard:nth-child(n) {
        width: 95%;
        // margin-right: auto;
    }

    .counterCard:nth-child(1) {
        margin-right: auto;
        margin-bottom: 33.6px;
    }

    .counterCard:nth-child(3) {
        margin-top: 33.6px;
    }

    .xfitKids {
        display: none;
    }

    .batchPerformance {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {

    nav {
        flex-direction: row;

        h3 {
            margin-right: auto;
        }

        .navIcons img {
            margin-left: 50.32px;
        }
    }

    aside {
        display: flex;

        ul li p,
        .xfitKids {
            display: flex;
            margin-right: auto;
            margin-left: 0;
            margin-left: 4.17%;
        }

        li img {
            margin-right: 0;
            margin-left: 0;
        }
    }

    .counter {
        flex-direction: row;

        .counterCard {
            width: 24vw;
            margin-top: auto;
            margin-bottom: auto;
        }

        .counterCard:nth-child(1) {
            margin-left: 0;
            margin-right: auto;
        }

        .counterCard:nth-child(3) {
            margin-right: 0;
            margin-left: auto;
        }
    }

    .statusAndPerforamnce {
        flex-direction: row;

        .batchPerformance {
            width: 40vw;
        }
    }
}