:root {
  --myWhite: #ffffff;
  --myBlue: #0f296d;
  --myGray: #cccccc;
  --myBlack: #000000;
  --fontGray: #999999;
  --fontDarkGray: #393D54;
  --fontLightGray: #BFBFBF;
  --bgColor: #f3f5fb;
  --myDarkPink: #F1554C;
  --myLightPink: #FFA5A0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
  font-style: normal;
}

body {
  background-color: var(--bgColor);
}

.WholeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0 16px 16px;
}

.headerBodyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 33.6px;
  margin-left: 33.6px;
  width: 95%;
}

nav {
  position: relative;
  width: 100%;
  padding: 33.6px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.3rem 33.6px;
  background-color: var(--myWhite);
  font-size: 1.05em;
  font-weight: 700;
  line-height: 1.575em;
  line-height: 100%;
  -webkit-box-shadow: 0px 3.36px 33.6px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 3.36px 33.6px rgba(0, 0, 0, 0.06);
  border-radius: 0px 0px 20.16px 20.16px;
  color: var(--myBlue);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav .navSearchBar {
  position: relative;
}

nav .navSearchBar input[type="search"] {
  padding: 0.5rem 0 0.5rem 2rem;
  background-size: 1rem;
  margin: 0.5rem 0;
  border: 0.84px solid rgba(204, 204, 204, 0.74);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8.4px;
}

nav .navSearchBar img {
  width: 12.6px;
  height: 12.6px;
  position: absolute;
  top: 40%;
  left: 5%;
}

nav .mainNav {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

nav .navWrapper .mainNav {
  display: none;
}

nav .navWrapper .mainNav .toggleIcon,
nav .navWrapper .mainNav .toggleLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 17%;
  border-radius: 20px 0 0 20px;
  background-color: var(--myBlue);
  min-height: 121.82346368715083vh;
  font-weight: 600;
  font-size: 15.12px;
  line-height: 23px;
}

aside ul {
  list-style: none;
  color: var(--myWhite);
  background-color: var(--myBlue);
  border-radius: 31.08px 0 0 31.08px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0;
  position: relative;
  padding: 1rem 0;
}

aside ul li b:nth-child(1) {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background-color: var(--bgColor);
}

aside ul li b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 31.08px;
  background-color: var(--myBlue);
}

aside ul li b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  background-color: var(--bgColor);
}

aside ul li b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 31.08px;
  background-color: var(--myBlue);
}

aside ul li img {
  width: 20.16px;
  height: 20.16px;
}

aside ul .dashboard {
  color: var(--myBlue);
}

aside ul li:not(.excerciseCard) {
  margin-left: 1rem;
}

aside ul li:not(.excerciseCard) img {
  margin-left: 12%;
}

aside ul .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 18px;
}

aside ul .logos .xfitKids {
  width: 104.16px;
  height: 17.37px;
  margin-left: 0;
}

aside ul li:first-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

aside ul li:first-child img {
  width: 42.84px;
  height: 42.84px;
}

aside ul li p {
  display: none;
}

aside ul li:first-child {
  padding-bottom: 2rem;
  border-radius: 0 0 20px 0;
}

aside ul .activeAside {
  background-color: var(--bgColor);
  color: var(--myWhite);
  border-radius: 100px 0 0 100px;
}

aside .activeAside {
  color: var(--myBlue);
}

aside .excerciseCard {
  width: 165.48px;
  height: 162.96px;
  background: var(--myWhite);
  -webkit-box-shadow: 0px 3.36px 52.92px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3.36px 52.92px rgba(0, 0, 0, 0.15);
  border-radius: 27.72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 153.4px;
  margin-left: auto;
  margin-right: auto;
}

aside .excerciseCard img:nth-child(1) {
  position: absolute;
  left: 41.67%;
  right: 41.67%;
  top: 14.67%;
  bottom: 16.67%;
}

aside .excerciseCard img:nth-child(2) {
  position: absolute;
  width: 116px;
  height: 74px;
  bottom: 30%;
  right: 23%;
}

aside .excerciseCard p {
  position: absolute;
  width: 110.88px;
  height: 17.64px;
  top: 75%;
  left: 17%;
  font-weight: 600;
  font-size: 11.76px;
  line-height: 18px;
  color: var(--fontDarkGray);
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  margin: 33.6px 0;
}

.counter .counterCard {
  background: var(--myWhite);
  -webkit-box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
  border-radius: 25.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: center;
  height: 14vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter .counterCard .counterIcon {
  margin-left: auto;
  margin-top: auto;
  height: 100%;
}

.counter .counterCard .counterIcon img {
  width: 100%;
  height: 100%;
}

.counter .counterCard .counterDivider {
  margin: auto;
}

.counter .counterCard .counterText {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.counter .counterCard .counterText p:nth-child(1) {
  color: var(--myBlack);
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: auto;
}

.counter .counterCard .counterText p:nth-child(2) {
  color: var(--fontGray);
  font-weight: 600;
  font-size: 0.875em;
  margin-top: 0;
  margin-bottom: auto;
}

.statusAndPerforamnce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.statusAndPerforamnce .todayStatus {
  background: var(--myWhite);
  -webkit-box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
  border-radius: 25.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 32vh;
  padding: 33.6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 29.4px;
}

.statusAndPerforamnce .todayStatus h3 {
  font-weight: 600;
  font-size: 16.8px;
  line-height: 25px;
  color: var(--fontDarkGray);
}

.statusAndPerforamnce .todayStatus .statusCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 100%;
}

.statusAndPerforamnce .todayStatus .statusCards .statusCard {
  background: #F9F9F9;
  border-radius: 8.4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 8vw;
  min-height: 9vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statusAndPerforamnce .todayStatus .statusCards .statusCard p:first-child {
  color: var(--myBlue);
  font-weight: 800;
  font-size: 20.16px;
  line-height: 30px;
  margin-bottom: 5.88px;
}

.statusAndPerforamnce .todayStatus .statusCards .statusCard p:nth-child(2) {
  font-weight: 600;
  font-size: 11.76px;
  line-height: 18px;
  color: var(--fontDarkGray);
}

.statusAndPerforamnce .todayStatus .filthySec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 29vw;
  height: 9vh;
  width: 100%;
  background: #F9F9F9;
  border-radius: 8.4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: solid 20px var(--myDarkPink);
  border-right: transparent;
  border-top: transparent;
  border-bottom: transparent;
}

.statusAndPerforamnce .todayStatus .filthySec .rightFilthy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.statusAndPerforamnce .batchPerformance {
  background: var(--myWhite);
  -webkit-box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
  border-radius: 25.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 37.8px 33.6px 38.64px 33.6px;
  min-height: 32vh;
}

.statusAndPerforamnce .batchPerformance .performanceTextSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: auto;
}

.statusAndPerforamnce .batchPerformance .performanceTextSec h4 {
  color: var(--fontDarkGray);
  font-weight: 600;
  font-size: 16.8px;
  line-height: 25px;
}

.statusAndPerforamnce .batchPerformance .performanceTextSec p {
  color: var(--fontGray);
  font-weight: 500;
  font-size: 13.44px;
  line-height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.statusAndPerforamnce .batchPerformance .performanceGraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: auto;
}

.statusAndPerforamnce .batchPerformance .performanceGraph .linearGraphText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.statusAndPerforamnce .batchPerformance .performanceGraph .linearGraphText .sideText {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
}

.statusAndPerforamnce .batchPerformance .performanceGraph .linearGraphText .sideText section p:first-child {
  font-weight: 500;
  font-size: 15.12px;
  line-height: 23px;
  color: var(--fontDarkGray);
}

.statusAndPerforamnce .batchPerformance .performanceGraph .linearGraphText .sideText section p:nth-child(2) {
  font-weight: 500;
  font-size: 11.76px;
  line-height: 18px;
  color: var(--fontLightGray);
}

.statusAndPerforamnce .batchPerformance .performanceGraph .linearGraphText .sideText img {
  margin-right: 6.72px;
}

.statusAndPerforamnce .batchPerformance .performanceGraph .linearGraphText section p:first-child {
  font-weight: 500;
  font-size: 15.12px;
  line-height: 23px;
}

.statusAndPerforamnce .batchPerformance .performanceGraph .linearGraphText section p:nth-child(2) {
  font-weight: 500;
  font-size: 11.76px;
  line-height: 18px;
}

.statusAndPerforamnce .batchPerformance .performanceGraph .linearGraph {
  margin-left: auto;
}

.circularAndPerformer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 33.6px;
}

.circularAndPerformer .circularGraphSec {
  background: var(--myWhite);
  -webkit-box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
  border-radius: 25.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.18);
  width: 100%;
  min-height: 42vh;
  padding: 33.6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 3.77px;
  -webkit-transform: rotate(-6.69deg);
          transform: rotate(-6.69deg);
}

.circularAndPerformer .circularGraphSec .circularText p {
  font-weight: 600;
  font-size: 16.8px;
  line-height: 25px;
  color: var(--fontDarkGray);
}

.circularAndPerformer .circularGraphSec .circularGraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 29px;
}

.circularAndPerformer .circularGraphSec .circularGraph .graphSideText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.circularAndPerformer .circularGraphSec .circularGraph .childTextSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 19%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
}

.circularAndPerformer .circularGraphSec .circularGraph .childTextSec img {
  margin-right: 7.66px;
}

.circularAndPerformer .circularGraphSec .circularGraph .childTextSec .textSec p:nth-child(2n+1) {
  color: var(--fontDarkGray);
  font-weight: 500;
  font-size: 13.44px;
  line-height: 20px;
}

.circularAndPerformer .circularGraphSec .circularGraph .childTextSec .textSec p:nth-child(2n) {
  font-weight: 600;
  font-size: 11.76px;
  line-height: 18px;
  color: #cfcfcf;
}

.circularAndPerformer .circularGraphSec .circularGraph .childTextSec span {
  color: var(--fontDarkGray);
  font-weight: 500;
  font-size: 11.76px;
  line-height: 18px;
}

.circularAndPerformer .circularGraphSec .graph {
  position: relative;
}

.circularAndPerformer .circularGraphSec .graph .transforemBox {
  position: absolute;
  width: 149.79px;
  height: 75.66px;
  left: -12%;
  top: 72%;
  background: var(--myWhite);
  -webkit-box-shadow: 0px 3.36px 26.04px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3.36px 26.04px rgba(0, 0, 0, 0.1);
  border-radius: 6.72px;
  -webkit-transform: rotate(-6.69deg);
          transform: rotate(-6.69deg);
  padding: 8.43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.circularAndPerformer .circularGraphSec .graph .transforemBox .transforemBoxBottomPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circularAndPerformer .circularGraphSec .graph .transforemBox .transforemBoxBottomPart p {
  color: #cfcfcf;
  font-weight: 600;
  font-size: 11.76px;
  line-height: 18px;
}

.circularAndPerformer .circularGraphSec .graph .transforemBox .transforemBoxBottomPart img {
  margin-right: auto;
  margin-left: 2.5px;
}

.circularAndPerformer .circularGraphSec .graph .transforemBox .number {
  font-weight: 800;
  font-size: 20.16px;
  line-height: 30px;
  color: var(--fontDarkGray);
}

.circularAndPerformer .circularGraphSec .graph .transforemBox p:nth-child(2n) {
  font-weight: 600;
  font-size: 10.08px;
  line-height: 15px;
  color: var(--fontDarkGray);
}

.circularAndPerformer .topPerformer {
  background: var(--myWhite);
  -webkit-box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
  border-radius: 25.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 42vh;
  padding: 33.6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.circularAndPerformer .topPerformer .performerTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.circularAndPerformer .topPerformer .performerTitles h6 {
  color: var(--fontDarkGray);
  font-weight: 600;
  font-size: 16.8px;
  line-height: 25px;
  margin-right: auto;
}

.circularAndPerformer .topPerformer .kidsArticles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.circularAndPerformer .topPerformer .kidsArticles .kidCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 19.32px;
  min-height: 30vh;
  position: relative;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circularAndPerformer .topPerformer .kidsArticles .kidCard button {
  border-radius: 10.92px;
  border: none;
  height: 5vh;
  width: 9vw;
  margin-bottom: 10.46px;
  margin-top: auto;
}

.circularAndPerformer .topPerformer .kidsArticles .kidCard p:nth-child(2n+1) {
  color: var(--myWhite);
  font-weight: 700;
  font-size: 15.12px;
  line-height: 23px;
  margin-bottom: 6.72px;
  margin-top: 14.28px;
}

.circularAndPerformer .topPerformer .kidsArticles .kidCard p:nth-child(2n) {
  font-weight: 500;
  font-size: 10.08px;
  line-height: 15px;
  color: var(--myWhite);
  margin-bottom: 14.28px;
}

.circularAndPerformer .topPerformer .kidsArticles .nivaan {
  background-color: var(--myDarkPink);
}

.circularAndPerformer .topPerformer .kidsArticles .nivaan button {
  background: rgba(255, 255, 255, 0.53);
}

.circularAndPerformer .topPerformer .kidsArticles .navya {
  background-color: var(--myBlue);
}

.circularAndPerformer .topPerformer .kidsArticles .navya button {
  background: rgba(255, 255, 255, 0.53);
}

.circularAndPerformer .topPerformer .kidsArticles .anugrah {
  background-color: var(--myLightPink);
}

.circularAndPerformer .topPerformer .kidsArticles .anugrah button {
  background: rgba(255, 255, 255, 0.53);
}

.circularAndPerformer .topPerformer .kidsArticles .kidCard img:nth-child(2n+1) {
  position: absolute;
  right: 1.42%;
  top: 0;
  bottom: 8.32%;
}

.circularAndPerformer .topPerformer .kidsArticles .kidCard img:nth-child(2n) {
  margin-top: 16.42px;
  width: 41.16px;
  height: 41.16px;
}

@media (max-width: 600px) {
  aside {
    display: none;
  }
  .batchPerformance {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .batchPerformance .performanceTextSec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .batchPerformance .performanceGraph {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .batchPerformance .performanceGraph .linearGraphText {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .circularGraphSec {
    text-align: center;
  }
  .circularGraph {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .circularGraph .circularText .graphSideText {
    margin-top: 10px;
  }
  .circularGraph .transforemBox {
    text-align: left;
  }
}

@media (max-width: 600px) and (max-width: 1200px) {
  .toggleIcon {
    width: 10px;
  }
  .toggleLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
    padding: 1.5rem 0;
  }
  .menu {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .menu .toggleIcon {
    margin-top: auto;
    margin-bottom: auto;
  }
  .menu:hover .mainNav {
    position: absolute;
    top: 8vh;
    right: -3vw;
    width: 75vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--myWhite);
    z-index: 2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 1rem;
    -webkit-box-shadow: 0px 3.36px 33.6px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 3.36px 33.6px rgba(0, 0, 0, 0.06);
    border-radius: 20.16px;
  }
  .menu:hover .mainNav input[type=search] {
    margin: 1rem 0;
  }
  .menu:hover .mainNav .navIcons img:nth-child(1) {
    margin-right: 5px;
  }
  .menu:hover .mainNav .navIcons img:nth-child(2) {
    margin-left: 5px;
  }
  aside .excerciseCard {
    display: none;
  }
  .logo {
    margin-left: 0;
  }
  .counterCard:nth-child(1) {
    margin-right: auto;
    margin-bottom: 33.6px;
  }
  .counterCard:nth-child(3) {
    margin-top: 33.6px;
  }
  .xfitKids {
    display: none;
  }
  .batchPerformance {
    margin-top: 33.6px;
  }
  .topPerformer {
    margin-top: 33.6px;
  }
  .kidCard {
    width: 20vw;
  }
}

@media (max-width: 600px) and (min-width: 1200px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav h3 {
    margin-right: auto;
  }
  nav .navIcons img {
    margin-left: 50.32px;
  }
  nav .navWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
  }
  nav .navWrapper .menu {
    width: 100%;
  }
  nav .navWrapper .menu .mainNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
  }
  nav .navWrapper .toggleIcon,
  nav .navWrapper .toggleLogo {
    display: none;
  }
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  aside ul li p,
  aside .xfitKids {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: 0;
    margin-left: 4.17%;
  }
  aside li img {
    margin-right: 0;
    margin-left: 0;
  }
  aside .xfitKids {
    margin-right: 23%;
  }
  .counter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .counter .counterCard {
    width: 26.28vw;
    margin-top: auto;
    margin-bottom: auto;
  }
  .counter .counterCard:nth-child(1) {
    margin-left: 0;
    margin-right: 25.76px;
  }
  .counter .counterCard:nth-child(3) {
    margin-right: 0;
    margin-left: auto;
    margin-left: 24.92px;
  }
  .statusAndPerforamnce {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .statusAndPerforamnce .todayStatus {
    width: 40vw;
  }
  .batchPerformance {
    width: 40vw;
  }
  .kidCard {
    width: 10vw;
  }
  .circularAndPerformer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .excerciseCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=new.css.map */