:root {
  --myWhite: #FFFFFF;
  --myBlue: #0F296D;
  --myGray: #CCCCCC;
  --myBlack: #000000;
  --fontGray: #999999;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
  font-style: normal;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #298d6c;
  color: var(--myBlue);
  font-size: 1.05em;
  font-weight: 700;
  line-height: 1.575em;
  line-height: 100%;
  -webkit-box-shadow: 0px 3.36px 33.6px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 3.36px 33.6px rgba(0, 0, 0, 0.06);
  border-radius: 0px 0px 20.16px 20.16px;
}

.navbar .navSearchBar {
  position: relative;
}

.navbar .navSearchBar img {
  position: absolute;
  left: 57.94%;
  right: 41.12%;
  top: 3.08%;
  bottom: 95.67%;
}

.navbar .navSearchBar input[type=search] {
  position: absolute;
  left: 57.94%;
  right: 41.12%;
  top: 3.08%;
  bottom: 95.67%;
  border: 0.84px solid rgba(204, 204, 204, 0.74);
  border-radius: 8.4px;
  padding: .75rem 0 .75rem 2rem;
  margin: .5rem 0;
  font-weight: 500;
  font-size: 0.735 em;
  line-height: 1.125em;
}

main {
  background-color: orchid;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  margin: 1rem 0;
}

.counter .counterCard {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
  border-radius: 25.2px;
}

.counter .counterText p:nth-child(2) {
  color: var(--myBlack);
  position: absolute;
  font-weight: 800;
  font-size: 2em;
  line-height: 3em;
}

.counter .counterText p:nth-child(1) {
  color: var(--fontGray);
  position: absolute;
  font-size: 0.875em;
  line-height: 1.3125em;
}

.counter .leftCounter {
  background-color: #e9e98e;
  position: relative;
  width: 36.24070021881838vw;
  min-height: 15.778014941302027vh;
}

.counter .leftCounter .counterDivider img {
  background-color: black;
  position: absolute;
  width: 1.0893246187363834vw;
  height: 7.383561643835617vh;
  left: 18.052287581699346vw;
  top: 4.794520547945205vh;
}

.counter .leftCounter .counterIcon img {
  position: absolute;
  width: 8.752735229759299vw;
  height: 8.537886872998932vh;
  left: 4.673960612691466vw;
  top: 3.6072572038420487vh;
}

.counter .leftCounter .leftCouterText p:nth-child(2) {
  position: absolute;
  width: 7.111597374179431vw;
  height: 3.2017075773746vh;
  left: 23.49234135667396vw;
}

.counter .leftCounter .leftCouterText p:nth-child(1) {
  background-color: yellow;
  position: absolute;
  width: 6.892778993435448vw;
  height: 5.122732123799359vh;
  left: 23.601750547045953vw;
  top: 4.461045891141942vh;
}

.counter .centerCounter {
  background-color: #df9e9e;
  position: relative;
  width: 36.24070021881838vw;
  min-height: 15.778014941302027vh;
}

.counter .centerCounter .counterDivider img {
  background-color: black;
  position: absolute;
  width: 1.0893246187363834vw;
  height: 7.383561643835617vh;
  left: 18.052287581699346vw;
  top: 4.794520547945205vh;
}

.counter .centerCounter .counterIcon img {
  position: absolute;
  width: 8.752735229759299vw;
  height: 8.537886872998932vh;
  left: 4.673960612691466vw;
  top: 3.6072572038420487vh;
}

.counter .centerCounter .centerCounterText p:nth-child(2) {
  background-color: red;
  position: absolute;
  width: 4.7789934354485775vw;
  height: 5.122732123799359vh;
  left: 23.49234135667396vw;
}

.counter .centerCounter .centerCounterText p:nth-child(1) {
  position: absolute;
  width: 7.330415754923414vw;
  left: 23.49234135667396vw;
  top: 4.461045891141942vh;
}

.counter .RightCounter {
  background-color: #9be09b;
  position: relative;
  width: 36.24070021881838vw;
  min-height: 15.778014941302027vh;
}

.counter .RightCounter .counterDivider img {
  background-color: black;
  position: absolute;
  width: 1.0893246187363834vw;
  height: 7.383561643835617vh;
  left: 18.052287581699346vw;
  top: 4.794520547945205vh;
}

.counter .RightCounter .counterIcon img {
  position: absolute;
  width: 8.752735229759299vw;
  height: 8.537886872998932vh;
  left: 4.649890590809628vw;
  top: 3.6072572038420487vh;
}

.counter .RightCounter .rightCouterText p:nth-child(2) {
  position: absolute;
  width: 9.741794310722101vw;
  height: 3.2273212379935967vh;
  left: 22.271334792122538vw;
}

.counter .RightCounter .rightCouterText p:nth-child(1) {
  background-color: #399b39;
  width: 8.643326039387308vw;
  left: 22.271334792122538vw;
  top: 8.729989327641409vh;
}

@media screen and (min-width: 1024px) {
  body {
    background-color: black;
  }
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .counter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */